extends layout

block content
    block adicionar
        h1 #{titulo}
        form(method='POST', action='/tarefas/add')
            #form-group
                label Tarefa:
                input.form-control(name='nome', type='text')
            input.btn.btn-primary(type='submit',value='Submit')