doctype html
html
    head
        title To-do List
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
      .container 
        block content
        br
        hr
        footer
            p Copyright &copy; 2020
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')        